extends layout

block content
  .row
      h3 Twilio Pest Control - Holiday Promo
      a.btn.btn-default(
        href= '/call-source/' ) New
      table.table#callSources
        thead
          tr
            th Ad Group
            th Keyword
            th Forwarding number
            th Budget
            th
        tbody
          each callSource in callSources
            tr
              td #{callSource.adgroup}
              td #{callSource.keyword}
              td #{callSource.forwardingNumber}
              td #{callSource.budget}
              td
                a.btn.btn-xs.btn-default(
                  href= '/call-source/' + '#{callSource._id}' + '/edit') Edit


block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
