extends layout

block content
  .row
      h3 Campaigns
      table.table#callSources
        thead
          tr
            th Campaign
            th Ad Group
            th Keyword
            th Number Pool
            th Description
            th Forwarding number
            th Budget
            th
        tbody
          each callSource in callSources
            tr
              td #{callSource.campaign}
              td #{callSource.adgroup}
              td #{callSource.keyword}
              td #{callSource.numberPool}
              td #{callSource.description}
              td #{callSource.forwardingNumber}
              td #{callSource.budget}
              td
                a.btn.btn-xs.btn-default(
                  href= '/call-source/' + '#{callSource._id}' + '/edit') Edit


block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
