extends layout
block content
	.row
		.col-xs-12
			h2 TwilioLeadTracking Agent
			br
		.col-xs-4
			.form-group
				input.form-control#number(type='text', name='number', placeholder='Enter a phone number to call')
			.form-group
				button.btn.btn-success#callbutton
					span.glyphicon.glyphicon-earphone
					| &nbsp; Call
				&nbsp;&nbsp;&nbsp;
				button.btn.btn-danger#disconnectbutton
					span.glyphicon.glyphicon-phone-alt
					| &nbsp; End
				&nbsp;&nbsp;&nbsp;

			table.table.table-bordered.table-hover#active-call
				thead
					tr
						th Phone number
						th Name
						th City
						th State
						th Gender
						th Age
						th Campaign
						th Lead qualified
						th $Revenue 
				tbody#lead-table
					//tr
							//- td=lead.callerNumber
							//- td=lead.callerName
							//- td=lead.city
							//- td=lead.state
							//- td=lead.gender
							//- td=lead.age
			button.btn#savebutton
				| &nbsp; Save


block scripts
	script(type='text/javascript', src='//media.twiliocdn.com/sdk/js/client/v1.4/twilio.js')
	script(src='js/tclient.js')

