extends layout

block content
  .row
    .col-lg-12
      table.table.table-bordered.table-hover
        thead 
          tr 
            th Date
            th From
            th From City
            th From State
            th Date Created
            th Duration (seconds)
            th Blacklisted
            th Blacklisted reason
            th Recording
        tbody
          each lead in leads
            tr
            .column(style="align:center;")
              td=lead.createdOn
              td= lead.callerNumber
              td= lead.city
              td= lead.state
              td= lead.createdOn
              td= lead.callDuration
              td= lead.blacklisted
              td= lead.blacklistedReason
            td
              if lead.recordingURL == ''
                p No Recording
              else
                audio(controls='')
                  source(src='#{lead.recordingURL}', type='audio/mpeg')


